
{{> head }}
  {{> nabvar }} 

    <div class="row">
        <div class="col-8 p-5">
            <h1>Civic Coupe</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et a, veritatis accusamus atque est consectetur incidunt voluptatibus pariatur eaque nulla nostrum ducimus. Blanditiis voluptas laborum, accusamus consequatur quam enim omnis?
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/civic-coupe.png" width="450">
        </div>
    </div>

{{> footer }}